<!-- Mobile Layout for Mobile Devices -->
<app-mobile-layout
  *ngIf="isMobile"
  [showHeader]="showHeader"
  [showFooter]="false"
  [showBottomNav]="true">
  <router-outlet></router-outlet>
</app-mobile-layout>

<!-- Desktop Layout for Desktop/Tablet -->
<div *ngIf="!isMobile" class="app-container">
  <app-header *ngIf="showHeader"></app-header>
  <main class="main-content" [class.with-header]="showHeader">
    <router-outlet></router-outlet>
  </main>
</div>

<!-- Notifications -->
<app-notification></app-notification>
