<aside class="sidebar">
  <!-- Trending Products Section -->
  <app-trending-products></app-trending-products>

  <!-- Featured Brands Section -->
  <app-featured-brands></app-featured-brands>

  <!-- New Arrivals Section -->
  <app-new-arrivals></app-new-arrivals>

  <!-- Suggested for you -->
  <app-suggested-for-you></app-suggested-for-you>

  <!-- Top Fashion Influencers -->
  <app-top-fashion-influencers></app-top-fashion-influencers>

  <!-- Shop by Category -->
  <app-shop-by-category></app-shop-by-category>
</aside>
